* {
    font-size: 30px;
}


.btn {
    background-color: red;
    border: 5px solid white;
    min-height: 50px;
    min-width: 50px;
}

.black {
    background-color: black;
    border: 5px solid white;
    min-height: 50px;
    min-width: 50px;

}

#box {
    display: flex;

    flex-wrap: wrap;
    margin: auto;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 500px;
    width: 500px;
}

header {
    text-align: center;
    margin: 20px;
}