* {
    font-size: 30px;
    box-sizing: border-box;
}


.btn {
    background-color: red;
    border: 0.5px solid white;
}

.black {
    background-color: black;
    border: 0.5px solid white;
}

#box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 500px;
    width: 500px;
}

header {
    text-align: center;
    margin: 20px;
}